<?xml version="1.0"?>

<model>
  <name>Master thesis Kremmel test world</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: Maximilian Kremmel</name>
    <email>Optional: maximilian.kremmel@gmail.com</email>
  </author>

  <description>
    Test world for AR based Landmark selection.
  </description>

</model>
