<?xml version="1.0"?>

<model>
  <name>3D Map Large</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Georg Novotny</name>
    <email>georg.novotny@technikum-wien.at</email>
  </author>

  <description>
    A simple 3D world of the area of the coast of Corse Italy.
  </description>
</model>
